.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th,td {
    border: 15px solid #6ca3d6b4;
    padding: 10px;
}

#data {
    margin-bottom: 10px;
}

#data input {
padding:  10px;
width: 300px;
}

h1{
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}